.App {
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  background-image: url("images/sky.jpg");
  background-repeat: repeat;

  margin: auto;
  padding: 0;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, .8);
  min-height: 100vh;
}

@import '@sweetalert2/theme-dark/dark.css';

@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.monotype {
  font-family: 'Courier New', monospace;
}

p {
  font-family: Arial, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #030f27;
  top: 0;
  z-index: 1;
}

h5 {
  text-align: left;
}

.footer {
  margin-top: auto;
}

.tdright {
  text-align: right;
}

.App-link {
  color: #61dafb;
}

.divBlobrotate {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] {
  cursor: pointer;
}

td {
  text-align: left;
  padding: 2px;
}

td>* {
  vertical-align: middle;
}

input[type="text"],
textarea {
  background-color: rgba(255, 255, 255, .7);
  border: none;
}

.ergblob {
  background: linear-gradient(to bottom right, rgb(46, 13, 124, 0.5), rgb(0, 0, 0, 0.5));
  min-width: 12rem;
}

.zoneblob {
  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgba(5, 176, 255, 0.5), rgba(231, 20, 231, 0.5));
  min-width: 12rem;
  max-width: 14rem;
  padding: 2px;
  height: 100%;
  color: black;
}

.zoneblobinator {
  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgba(5, 176, 255, 0.5), rgba(231, 20, 231, 0.5));
  min-width: 14rem;
  max-width: 18rem;
  padding: 2px;
  height: 100%;
  color: black;
}

.zonecard {
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
  color: white;
}

.zoneupgrade {
  border: 2px;
  border-width: 2px;
  border-radius: 3px;
  margin: 1px;
  background: linear-gradient(to bottom right, rgba(31, 34, 36, 0.5), rgba(48, 36, 48, 0.5));
}

.zoneabout {
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  text-align: left;
  line-height: 1em;
}

.aboutlink {
  color: deepskyblue;
}

.zonefight {
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
  color: white;
  background-size: 100% 100%;
  background-image: url('images/versus_bg.png');
  max-width: 70rem;
}

.fightPrize {
  border: 3px solid yellow;
  border-radius: 5px;
  color: yellow;
}

.zoneprice {
  background-size: 100% 100%;
  background-image: url('images/price_background.png');
}

.armor {
  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgba(31, 34, 36, 0.5), rgba(48, 36, 48, 0.5));
  min-width: 3rem;
  max-width: 4rem;
  padding: 2px;
  height: 100%;
  color: black;
  font-family: Arial, sans-serif;
}

.armorValue {
  color: rgba(17, 185, 17, 0.8);
  font-weight: bold;
  font-size: larger;

}

/* winning percent*/
.winning-percent {
  position: relative;
  text-align: center;
  color: yellow;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.transparent-image {
  opacity: 0.7;
  padding: 0px;
}

.rounded-image {
  border-radius: 5%;
}

.disabled-image {
  opacity: 0.3 !important;
  padding: 0px;
  pointer-events: none;
}

.color-nav {
  background-color: rgb(0, 0, 0, 1);
}

/* CHECKED STYLES */
input[type=radio]:checked+div {
  border: 3px solid #654ea3;

}

input {
  border-radius: 5px;
}

.weaponChooser {
  transition: 0.5s;
}

.weaponChooser:hover:enabled {
  box-shadow: 0 0 0 2px #654ea3 inset;
  transition: 0.5s;
}

.weaponChooser:active:enabled {
  box-shadow: 0 0 0 2px rgba(17, 185, 17, 0.5) inset;
}

.blob-action-button {
  transition: 0s !important;
}
.blob-action-button:hover:enabled {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) !important;
}
.blob-action-button:active:enabled {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) !important;
}


.btn:active:enabled {
  transform: translateY(4px);
}

.btn:hover:enabled {
  box-shadow: 0 0 0 2px #654ea3;
  transition: 0.7s;
}

.btn-ultra-voilet {
  background: rgba(231, 20, 231, 0.5);
  font-weight: bold;
}

.btn-ultra-blue {
  background: rgba(5, 176, 255, 0.5);
  font-weight: bold;
  border-radius: 10px;
}

.btn-ultra-yellow {
  background: rgba(221, 189, 9, 0.8);
  font-weight: bold;
  border-radius: 10px;
}

.btn-ultra-green {
  background: rgba(17, 185, 17, 0.5);
  font-weight: bold;
  border-radius: 10px;
}

.btn-ultra-orange {
  background: rgba(185, 107, 17, 0.5);
  font-weight: bold;
  border-radius: 10px;
}

.btn-ultra-red {
  background: rgba(185, 17, 17, 0.5);
  font-weight: bold;
  border-radius: 10px;
}

.border-white {
  border-radius: 10px;
  border-radius: 10px;
  border: 3px rgba(255, 255, 255, .5);

}

.rotate {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  background-color: rgba(255, 255, 255, .5);
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* Animated arrow */
.arrow-1 {
  width: 100px;
  height: 30px;
  display: flex;
}

.arrow-1:before {
  content: "";
  background: currentColor;
  width: 15px;
  clip-path: polygon(0 10px, calc(100% - 15px) 10px, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 10px), 0 calc(100% - 10px));
  animation: a1 1.5s infinite linear;
}

@keyframes a1 {

  50%,
  100% {
    flex-grow: 1
  }
}